<!DOCTYPE html>
<html>
  
<!-- Mirrored from demo.bootstrapious.com/jobs/2-1-0/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jun 2020 05:28:06 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Striveful | Club Rush</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Roboto for copy, Montserrat for headings-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <!-- owl carousel-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="/" class="navbar-brand"><img src="logo3.png" width="270px" alt="logo" class="d-none d-lg-block"><img src="logo3.png" width="270px" alt="logo" class="d-block d-lg-none"><span class="sr-only">Go to homepage</span></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-bars"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="/about" class="nav-link">About Us </a></li>
              <li class="nav-item"><a href="/search" class="nav-link">Search <span class="sr-only">(current)</span> </a></li>
              <li class="nav-item active"><a href="/club-rush" class="nav-link">Club Rush</a></li>
              <% if (results.user == null) { %>
                <li class="nav-item dropdown"><a href="#loginModal" data-toggle="modal" class="btn navbar-btn btn-outline-light mb-5 mb-lg-0"> <i class="fa fa-sign-in"></i>Login</a></li>
              <% } else {%>
                <li class="nav-item dropdown"><a id="clientZone" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><%= results.user.firstName%></a>
                  <div aria-labelledby="clientZone" class="dropdown-menu">
                    <a href="/api/logout" class="dropdown-item">Logout</a>
                    
                    <a href="/favorite" class="dropdown-item">Favorites</a>
                    <% if (results.user.isCompany == true) { %>
                      <a href="/company" class="dropdown-item">Post a new opportunity</a>
                      <a href="/client-dashboard" class="dropdown-item">Dashboard</a>
                    <% } %>
                    </div>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- *** LOGIN MODAL ***_________________________________________________________
    -->
    <div id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="exampleModalLabel" class="modal-title">Customer Login</h4>
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/api/auth">
              <input type="hidden" name="isSearchPage" value=true>
              <div class="form-group">
                <input name="email" id="email" type="email" placeholder="Email" class="form-control" required>
              </div>
              <div class="form-group">
                <input name="password" id="password" type="password" placeholder="Password" class="form-control" required>
              </div>
              <p class="text-center">
                <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i> Log in</button>
              </p>
            </form>
            <p class="text-center text-muted">Not registered yet?</p>
            <p class="text-center text-muted"><a href="/signup"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      function radioButton() {
        console.log('we here')
        var n
        var m

        var searchByName = document.getElementById("searchByName").checked
        if (searchByName) {
          n = "on"
        }
        else {
          n = "off"
        }
        console.log(searchByName)

        var searchByMemberTitle = document.getElementById("searchByMemberTitle").checked
        if (searchByMemberTitle) {
          m = "on"
        }
        else {
          m = "off"
        }
        console.log(searchByMemberTitle)

        document.getElementById("hSearchName").value = n
        console.log(document.getElementById("hSearchName").value)

        document.getElementById("hSearchTitle").value = m
        console.log(document.getElementById("hSearchTitle").value)
      }
    </script>
    <!-- *** LOGIN MODAL END ***-->
    <section class="job-form-section job-form-section--compressed">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Club Rush</li>
          </ul>
        </nav>
        <h4 style="text-align:center;">Welcome <span class="accent">FHS</span> Students!</h4>
        <h3 class="heading">Find a club you will <span class="accent">love</span></h4>
        <form id="job-main-form" method="GET" action="/club-rush/query" class="job-main-form">
          <div class="controls">
            <div class="row align-items-end">
              <div class="col-lg-3alt"></div>
              <div class="col-sm-5 col-lg-4 form-group">
                <input type="text" id="name" name="name" class="form-control" value="<%=results.opportunityPlaceholder%>"">
              </div>
              <div class="col-sm-1 col-lg-2 form-group">
                <button onclick="radioButton()" type="submit" class="btn btn-outline-white-primary job-main-form__button"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-3"></div>
              <div class="col-3 form-group">
                <input type="radio" id="searchByName" name="button"
                <%if(results.checkedName == true){%>
                  <%="checked"%>
                <%}%>>
                <label for="searchByName">Search By Club Name</label>
              </div>
              <div class="col-3 form-group"> 
                <input type="radio" id="searchByMemberTitle" name="button"
                <%if(results.checkedTitle == true){%>
                  <%="checked"%>
                <%}%>>
                <label for="searchByMemberTitle">Search By Member Title</label>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
          <input type="hidden" id="hSearchName" name="hSearchName">
          <input type="hidden" id="hSearchTitle" name="hSearchTitle">
        </form>
      </div>
    </section>
    <!-- *** LISTINGS *** -->
    <section class="listings">
      <div class="container">
        <h3 class="heading"> <%= results.searchNum %> </h3>
        <% if (true) { results.volunteerings.forEach( value => { %>
        <div class="job-listing">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="row">
                <!--<div class="col-2"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-1.png" alt="LoremIpsum " class="img-fluid"></div>-->
                <div class="col-10">
                  <h4 class="job__title"><a href="/details/<%=value.id %>"> <%=value.eventName%> </a></h4>
                  <p class="job__company">
                    <%=value.organization%>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__location"></i><%=value.city%>, <%=value.state%></div>
            <div class="col-10 col-md-3 col-lg-3 ml-auto">
              <%var daysSincePost = Math.round((Date.now() - value.datePosted.getTime()) / (1000 * 60 * 60 * 24))%>
              <p>Posted <%=daysSincePost %> days ago</p>
            </div>
            <% if (results.user != null) { %>
              <% if (results.user.favorites.includes(value.id)) {%>
                <form action="/favorite" method="POST" target="hiddenFrame">
                  <div class="col-sm-12 col-md-2 col-lg-1">
  
                    <input type="hidden" name="_id" value= <%= value._id %> />
  
                    <div class="job__star">
                      <button onclick="favorite(this);" data-toggle="tooltip" data-placement="top" title="Save to favorites" class="job__star__link favorited-star">
                        <i class="fa fa-star"></i>
                      </button>
                    </div>
                  </div>
                </form>
              <% } else { %>
                <form action="/favorite" method="POST" target="hiddenFrame">
                  <div class="col-sm-12 col-md-2 col-lg-1">
  
                    <input type="hidden" name="_id" value= <%= value._id %> />
  
                    <div class="job__star">
                      <button onclick="favorite(this);" data-toggle="tooltip" data-placement="top" title="Save to favorites" class="job__star__link">
                        <i class="fa fa-star"></i>
                      </button>
                    </div>
                  </div>
                </form>
              <% } %>
            <% } else {%>
              <form action="/signup">
                <div class="col-sm-12 col-md-2 col-lg-1">

                  <input type="hidden" name="_id" value= <%= value._id %> />

                  <div class="job__star">
                    <button type="submit" data-toggle="tooltip" data-placement="top" title="Login to save to favorites" class="job__star__link">
                      <i class="fa fa-star"></i>
                    </button>
                  </div>
                </div>
              </form>
            <% } %>
          </div>
        </div>
        <% })} %>
    </section>

    <!--<section class="bg-light-gray">
      <div class="container">
        <h3 class="heading">Featured jobs</h3>
        <div class="row featured align-items-stretch">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="box-image-text bg-visible full-height">
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/featured1.jpg" alt="" class="img-fluid"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-1.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Software Engineer</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>San Francisco<span class="badge featured-badge badge-success">Full Time</span></p>
                <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="box-image-text bg-visible full-height">
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/featured2.jpg" alt="" class="img-fluid"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-3.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Customer support</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>Palo Alto<span class="badge featured-badge badge-success">Full Time</span></p>
                <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="box-image-text bg-visible full-height">
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/featured3.jpg" alt="" class="img-fluid"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-2.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Graphic designer</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>San Francisco<span class="badge featured-badge badge-dark">Part Time</span></p>
                <p>Fifth abundantly made Give sixth hath. Cattle creature i be dont them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <iframe name="hiddenFrame" width="0" height="0" style="display:none;"></iframe>
    <script>
      function favorite(star) {
        star.parentNode.parentNode.parentNode.submit();
        star.classList.toggle("favorited-star");
      }
    </script>
    <style>
      .favorited-star {
        color: #ff7473
      }
    </style>


    <footer class="footer">
      <div class="footer__block">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-5">
              <h4 class="h5">About Us</h4>
              <p>Striveful is a website designed to give students opportunities to explore various fields through workshops, internships, and clubs. 
                <br><br>We strive to allow every student to have an opportunity to have gain experiences in various fields or in a field that they know they love already.</p>
            </div>
            <div class="col-lg-4 col-md-6">
              <h4 class="h5">Contact Us</h4>
              <p><a href="mailto:strivefulnet@gmail.com">strivefulnet@gmail.com</a></p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
              <h4 class="h5">Social Media</h4>
              <p class="social"><a target="_blank" href="https://www.linkedin.com/company/striveful/" data-animate-hover="pulse" class="external linkedin"><i class="fa fa-linkedin"></i></a><a target="_blank" href="https://www.instagram.com/strivefulnet/" data-animate-hover="pulse" class="external instagram"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left text-center">
              <p>&copy;2020 Striveful</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript files-->
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/jquery/jquery.min.js"></script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/bootstrap-select/js/bootstrap-select.min.js">   </script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/js/front.js"></script>
  </body>

<!-- Mirrored from demo.bootstrapious.com/jobs/2-1-0/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jun 2020 05:28:06 GMT -->
</html>
