<!DOCTYPE html>
<html>
  
<!-- Mirrored from demo.bootstrapious.com/jobs/2-1-0/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jun 2020 05:27:55 GMT -->
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YSFY028GPT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YSFY028GPT');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Jobs - Bootstrap 4 template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Roboto for copy, Montserrat for headings-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <!-- owl carousel-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="index-2.html" class="navbar-brand"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/logo2.png" alt="logo" class="d-none d-lg-block"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/logo-small.png" alt="logo" class="d-block d-lg-none"><span class="sr-only">Go to homepage</span></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-bars"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="category.html" class="nav-link">Jobs <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>
              <li class="nav-item dropdown"><a id="clientZone" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Client Zone</a>
                <div aria-labelledby="clientZone" class="dropdown-menu"><a href="client-register.html" class="dropdown-item">Login or Register</a><a href="client-dashboard.html" class="dropdown-item">Dashboard</a><a href="client-applicants.html" class="dropdown-item">Applicants                </a><a href="client-job.html" class="dropdown-item">Post a new job  </a></div>
              </li>
              <li class="nav-item dropdown"><a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Pages</a>
                <div aria-labelledby="pages" class="dropdown-menu"><a href="index-2.html" class="dropdown-item">Home</a><a href="category.html" class="dropdown-item">Job Listing</a><a href="detail.html" class="dropdown-item">Job Detail                </a><a href="about.html" class="dropdown-item">About                </a><a href="contact.html" class="dropdown-item">Contact                </a><a href="blog.html" class="dropdown-item">Blog Listing                </a><a href="post.html" class="dropdown-item">Blog Post                </a><a href="packages.html" class="dropdown-item">Pricing packages    </a><a href="testimonials.html" class="dropdown-item">Testimonials    </a><a href="text.html" class="dropdown-item">Text Page    </a><a href="faq.html" class="dropdown-item">FAQ</a></div>
              </li>
              <li class="nav-item">   <a href="contact.html" class="nav-link">Contact</a></li>
              <li class="nav-item dropdown"><a href="#loginModal" data-toggle="modal" class="btn navbar-btn btn-outline-light mb-5 mb-lg-0"> <i class="fa fa-sign-in"></i>Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- *** LOGIN MODAL ***_________________________________________________________
    -->
    <div id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="exampleModalLabel" class="modal-title">Customer Login</h4>
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/api/auth">
              <div class="form-group">
                <input name="email" id="email" type="text" placeholder="email" class="form-control">
              </div>
              <div class="form-group">
                <input name="password" id="password" type="password" placeholder="password" class="form-control">
              </div>
              <p class="text-center">
                <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i> Log in</button>
              </p>
            </form>
            <p class="text-center text-muted">Not registered yet?</p>
            <p class="text-center text-muted"><a href="client-register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
          </div>
        </div>
      </div>
    </div>
    <!-- *** LOGIN MODAL END ***-->
    <section class="job-form-section job-form-section--image">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="job-form-box">
              <h2 class="heading">Find a <span class="accent">job</span> you will <span class="accent">love</span>.</h2>
              <form id="job-main-form" method="get" action="#" class="job-main-form">
                <div class="controls">
                  <div class="row align-items-center">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="profession">Profession</label>
                        <input type="text" id="profession" name="profession" placeholder="Profession you are looking for" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Any particular location?" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" name="submit" class="btn btn-outline-white-primary job-main-form__button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light-gray">
      <div class="container">
        <h3 class="heading">Featured jobs</h3>
        <div class="row featured align-items-stretch">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="box-image-text bg-visible full-height">
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/featured1.jpg" alt="" class="img-fluid"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-1.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Software Engineer</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>San Francisco<span class="badge featured-badge badge-success">Full Time</span></p>
                <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="box-image-text bg-visible full-height">
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/featured2.jpg" alt="" class="img-fluid"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-3.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Customer support</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>Palo Alto<span class="badge featured-badge badge-success">Full Time</span></p>
                <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="box-image-text bg-visible full-height">
              <div class="top"><a href="detail.html">
                  <div class="image"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/featured3.jpg" alt="" class="img-fluid"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-2.png" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Graphic designer</a></h5>
                <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>San Francisco<span class="badge featured-badge badge-dark">Part Time</span></p>
                <p>Fifth abundantly made Give sixth hath. Cattle creature i be dont them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <h4 class="heading">Most Recent Internships</h4>
        <% recents.internships.forEach( value => { %>
          <div class="job-listing">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="row">
                  <div class="col-2"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-3.png" alt="Bootstrapious " class="img-fluid"></div>
                  <div class="col-10">
                    <h4 class="job__title"><a href="/details/<%= value.id %>"><%= value.jobTitle %></a></h4>
                    <p class="job__company">
                      <%= value.companyName %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__location"></i>TempLocation</div>
              <div class="col-10 col-md-3 col-lg-3 ml-auto">
                <% var daysSincePost = Math.round((Date.now() - value.datePosted.getTime()) / (1000 * 60 * 60 * 24))%>
                Posted <%= daysSincePost%> days ago
              </div>
              <form action="/favorite" method="POST" target="hiddenFrame">
                <div class="col-sm-12 col-md-2 col-lg-1">

                  <input type="hidden" name="_id" value= <%= value._id %> />

                  <div class="job__star">
                    <button onclick="favorite(this);" data-toggle="tooltip" data-placement="top" title="Save to favorites" class="job__star__link">
                      <i class="fa fa-star"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="container">
        <h4 class="heading">Most Recent Volunteering Opportunities</h4>
        <% recents.volunteerings.forEach( value => { %>
          <div class="job-listing">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="row">
                  <div class="col-2"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-3.png" alt="Bootstrapious " class="img-fluid"></div>
                  <div class="col-10">
                    <h4 class="job__title"><a href="/details/<%= value.id %>"><%= value.eventName %></a></h4>
                    <p class="job__company">
                      <%= value.organization %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__location"></i>TempLocation</div>
              <div class="col-10 col-md-3 col-lg-3 ml-auto">
                <% var daysSincePost = Math.round((Date.now() - value.datePosted.getTime()) / (1000 * 60 * 60 * 24))%>
                Posted <%= daysSincePost%> days ago
              </div>
              <form action="/favorite" method="POST" target="hiddenFrame">
                <div class="col-sm-12 col-md-2 col-lg-1">

                  <input type="hidden" name="_id" value= <%= value._id %> />

                  <div class="job__star">
                    <button onclick="favorite(this);" data-toggle="tooltip" data-placement="top" title="Save to favorites" class="job__star__link">
                      <i class="fa fa-star"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="container">
        <h4 class="heading">Most Recent Workshops</h4>
        <% recents.workshops.forEach( value => { %>
          <div class="job-listing">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="row">
                  <div class="col-2"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/company-3.png" alt="Bootstrapious " class="img-fluid"></div>
                  <div class="col-10">
                    <h4 class="job__title"><a href="/details/<%= value.id %>"><%= value.eventName %></a></h4>
                    <p class="job__company">
                      <%= value.organization %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__location"></i>TempLocation</div>
              <div class="col-10 col-md-3 col-lg-3 ml-auto">
                <% var daysSincePost = Math.round((Date.now() - value.datePosted.getTime()) / (1000 * 60 * 60 * 24))%>
                Posted <%= daysSincePost%> days ago
              </div>
              <form action="/favorite" method="POST" target="hiddenFrame">
                <div class="col-sm-12 col-md-2 col-lg-1">

                  <input type="hidden" name="_id" value= <%= value._id %> />

                  <div class="job__star">
                    <button onclick="favorite(this);" data-toggle="tooltip" data-placement="top" title="Save to favorites" class="job__star__link">
                      <i class="fa fa-star"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <% }) %>
      </div>
    </section>
    <section class="section testimonails bg-light-gray">
      <div class="container">
        <h2 class="heading">What our customers say</h2>
        <p class="lead text-center">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.  </p>
        <div class="row"> 
          <div class="col-md-12">
            <ul class="owl-carousel testimonials equalize-height">
              <li class="item">
                <div class="testimonial full-height">
                  <div class="text">
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/person-1.jpg">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial full-height">
                  <div class="text">
                    <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/person-2.jpg">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial full-height">
                  <div class="text">
                    <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                    <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/person-3.png">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial full-height">
                  <div class="text">
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/person-4.jpg">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial full-height">
                  <div class="text">
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><img alt="" src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/person-4.jpg">
                      <h5>John McIntyre</h5>
                      <p>CEO, TransTech</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <h3 class="heading">Our Packages</h3>
        <p class="lead text-center mb-5">
           
          One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.  
        </p>
        <div class="row packages">
          <div class="col-lg-3">
            <div class="package ">
              <div class="package-header">
                <h5>Basic</h5>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>7</h4><span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-times"></i>Own config file</li>
                <li><i class="fa fa-times"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul><a href="#" class="btn btn-outline-white-primary">Sign Up</a>
            </div>
          </div>
          <!-- end col-->
          <div class="col-lg-3">
            <div class="package ">
              <div class="package-header">
                <h5>Standard</h5>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>21</h4><span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-times"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul><a href="#" class="btn btn-outline-white-primary">Sign Up</a>
            </div>
          </div>
          <!-- end col-->
          <div class="col-lg-3">
            <div class="package best-value">
              <div class="package-header">
                <h5>Premium</h5>
                <div class="meta-text">Best Value</div>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>53</h4><span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-check"></i>Sharing Tools</li>
                <li><i class="fa fa-times"></i>Auto Backup</li>
                <li><i class="fa fa-times"></i>Extended Security</li>
              </ul><a href="#" class="btn btn-outline-white-primary">Sign Up</a>
            </div>
          </div>
          <!-- end col-->
          <div class="col-lg-3">
            <div class="package ">
              <div class="package-header">
                <h5>Standard</h5>
              </div>
              <div class="price">
                <div class="price-container">
                  <h4><span class="currency">$</span>99</h4><span class="period">/ month</span>
                </div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>100GB Storage</li>
                <li><i class="fa fa-check"></i>Own config file</li>
                <li><i class="fa fa-check"></i>Sharing Tools</li>
                <li><i class="fa fa-check"></i>Auto Backup</li>
                <li><i class="fa fa-check"></i>Extended Security</li>
              </ul><a href="#" class="btn btn-outline-white-primary">Sign Up</a>
            </div>
          </div>
          <!-- end col-->
        </div>
      </div>
    </section>
    <section style="background-image: url('../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/startup.jpg'); " class="section-divider">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Start searching for your new job now! </p>
            <p><a href="#" class="btn btn-outline-light">See our job offers </a></p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4>From our blog</h4>
            </div>
            <p class="text-center text-muted">What's new in the world of human resources? Check out our blog!</p>
          </div>
        </div>
        <div id="blog-homepage" class="row">
          <div class="col-md-6">
            <div class="post">
              <div class="image"><a href="post.html"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/blog1.jpg" alt="" class="img-fluid"></a></div>
              <h4><a href="post.html">Education in the IT</a></h4>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="read-more"><a href="post.html" class="btn btn-outline-white-primary">Continue reading</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="post">
              <div class="image"><a href="post.html"><img src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/img/blog2.jpg" alt="" class="img-fluid"></a></div>
              <h4><a href="post.html">Best books for personal development</a></h4>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="read-more"><a href="post.html" class="btn btn-outline-white-primary">Continue reading</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <iframe name="hiddenFrame" width="0" height="0" style="display:none;"></iframe>
    <script>
      function favorite(star) {
        star.parentNode.parentNode.parentNode.submit();
        star.classList.toggle("favorited-star");
      }
    </script>
    <style>
      .favorited-star {
        color: #ff7473
      }
    </style>

    <footer class="footer">
      <div class="footer__block">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-5">
              <h4 class="h5">About Jobs</h4>
              <p>Jobs is a <strong>Bootstrap 4 jobs board theme </strong> developed in the middle of Europe by <a href="http://ondrejsvestka.cz/">Ondrej Svestka</a></p>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
              <h4 class="h5">This Theme</h4>
              <ul class="list-unstyled">
                <li><a href="index-2.html">Home</a></li>
                <li><a href="category.html">Jobs Listing</a></li>
                <li><a href="detail.html">Job detail</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="blog.html">Blog listing</a></li>
                <li><a href="post.html">Blog Post</a></li>
                <li><a href="packages.html">Pricing packages</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="text.html">Text page</a></li>
                <li><a href="faq.html">FAQ</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <h4 class="h5">Our offices</h4>
              <h5>London</h5>
              <p> Donec eleifend<br />libero at sagittis<br />mollis + 44 2556 789 8799</p>
              <h5>Paris</h5>
              <p> Donec eleifend<br />libero at sagittis<br />mollis + 41 2556 789 8799</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5">
              <h4 class="h5">Client zone</h4>
              <ul class="list-unstyled">
                <li><a href="client-register.html">Login or Register</a></li>
                <li><a href="client-dashboard.html">Dashboard</a></li>
                <li><a href="client-applicants.html">Applicants</a></li>
                <li><a href="client-job.html">Post a new job</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
              <h4 class="h5">Let's be Friends</h4>
              <p class="social"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
            </div>
            <div class="col-lg-4 col-md-12 mb-5">
              <h4 class="h5">News and Updates</h4>
              <p>Sign up to get weekly portion of fresh jobs and news from us.</p>
              <form class="footer__newsletter">
                <div class="input-group">
                  <input type="text" placeholder="Enter your email address" aria-describedby="emailAddress" class="form-control">
                  <div class="input-group-append">
                    <button id="emailAddress" type="button" class="btn btn-default input-group-text"><i class="fa fa-send"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left text-center">
              <p>&copy;2020 Best company</p>
            </div>
            <div class="col-md-6 text-md-right text-center">
              <p class="credit">Theme by <a href="https://bootstrapious.com/">Bootstrapious</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>
    <!-- JavaScript files-->
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/jquery/jquery.min.js"></script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/vendor/bootstrap-select/js/bootstrap-select.min.js">   </script>
    <script src="../../../d19m59y37dris4.cloudfront.net/jobs/2-1-0/js/front.js"></script>
  </body>

<!-- Mirrored from demo.bootstrapious.com/jobs/2-1-0/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jun 2020 05:28:05 GMT -->
</html>